.navbar
{
    background-color: rgb(21, 38, 41); 
    height: 50px;
}
.Links
{
margin: 10px;
display:inline;
color: #f8b372;
}
a
{
  color: #f8b372;
  position: relative;
  margin: 10px;
top: 15px;
transform: translateY(-50%);
text-decoration: #f8b372;
font-family:sans-serif;
}
body {
  display: block;
  margin: 0px;
  background-color:rgb(60,108,116); 
}
.btn
{
position: absolute;
left: 1700px;
top: 0px;
background-color: #f8b372; /* Green */
    border:solid;
    border-radius: 40px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.s{
  color: rgb(60,108,116);
  position: relative;
  top: 2px;
}