body {
background-color: aquamarine;
font-family: sans-serif;
align-content: center;
align-items: center;
text-align: center;
margin: 50px;
  }
  .radio-buttons {
   display:inline-block;
}
.stepper-input {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    padding: 1px;
}
   
   
.btn{
    cursor: pointer;
    padding: 1em;
    color: #fff;
    background-color: #121212;
    border: 1px solid #121212;
}
   

.btn:hover{
    background-color: #fff;
    color: #121212;
}
  
   
.btn-left{
    border-radius: 10px 0 0 10px;
}
  

.btn-right{
    border-radius: 0 10px 10px 0 ;
   
}
   
.input-box {
    border: 1px solid #121212;
    text-align: center;
}
.container{
    
}
   


